extends ../shared/layout

block main-content
    h1 Update your profile
    form(method="post")
        label(for="first-name") First Name
        input(id="first-name" class="form-control" type="text" name="firstName" placeholder="First Name" value="#{user.firstName}")
        br
        label(for="last-name") Last Name
        input(id="last-name" class="form-control" type="text" name="lastName" placeholder="Last Name" value="#{user.lastName}")
        br
        label(for="email") E-mail
        input(id="email" class="form-control" type="email" name="email" placeholder="E-mail" value="#{user.email}")
        br
        label(for="facebook") Link to Facebook
        input(id="facebook" class="form-control" type="text" name="facebook" placeholder="Link to Facebook" value="#{user.facebook}")
        br
        label(for="youtube") Link to YouTube
        input(id="youtube" class="form-control" type="text" name="youtube" placeholder="Link to Youtube" value="#{user.youtube}")
        br
        label(for="avatar") Current Avatar
        br
        img(src="#{user.avatar}" height="100")
        input(id="avatar" class="form-control" type="text" name="avatar" placeholder="Avatar" value="#{user.avatar}")
        br
        input(type="submit" class="btn btn-lg" value="Update Profile")